body *{
    all: unset;
}
.nav-bar{
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 4.5vw;
    width: 100%;
    height: 5.3vw;
    margin: 1vw;
    background: white;
    
}
.nav-logo{
    float: left;
    background: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    }
.nav-logo::after{
    content: "Study Lover";
    margin-left: 5vw;
    font-size: 3vw;
    position: relative;
    top: -.6vw;
}
.nav-menu{
    float: right;
    font-size: 2vw;
    margin: 1.5vw 1vw;
}
.nav-menu > li{
    padding: .5vw;
}
.nav-menu a{
    color: black;
}
.nav-menu li:hover a{
    color: white;
}

    .nav-menu >li:hover{
    background-image: linear-gradient(lightblue, #111);
    border-radius: .4vw;
    color: ghostwhite;
    
}
.background{
    display: block;
    background-image: url(/images/b4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 10vw;
    width: auto;;
    font-size: 4.5vw;
    text-align: center;
    padding: 13vw;
    color: floralwhite;
    text-shadow: 2px 2px 9px #000;
}
.con{
    display: block;
    margin:  1vw 5vw ;
    text-align: center;
}
.mkrow{
    display: flex;
        
}
.ele{
    display: inline-block;
    width: 33vw;
    margin: 1vw;
}
.ele:hover{
    background-image: linear-gradient(#666,#fff);
    
}
#cv{
    background: url(/images/CV%20Icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12vw;
    align-content: center;
    font-family: serif;
    width: 16vw;
    position: relative;
    right: -1vw;
}
#cv::after{
    content: "";
    margin: 7vw;
    
}
#cl{
    background: url(/images/CL%20Icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12vw;
    align-content: center;
    font-family: serif;
    width: 16vw;
}
#cl::after{
    content: "";
    margin: 7vw;
    
}
#sz{
    background: url(/images/book%20icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 12vw;
    align-content: center;
    font-family: serif;
    width: 16vw;
}
#sz::after{
    content: "";
    margin: 7vw;
    
}

.eleimg{
    display: block;
    
}
.eletxt{
    display: none;
    color: black;
    transition: display 2s;
    background-color: #8885;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    margin:  1vw 2vw 0;
    font-size: 1.4vw;
    font-weight: 450;
    font-family:sans-serif;
}
.elehd{
    font-size: 1.8vw;
    padding: 0 0.7vw;
     text-shadow: 2px 2px 9px #777;   
    box-shadow: 2px 2px 4px #777; 
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    margin: 1vw auto;
    color: #000;
    background-color: #ddd;
    font-weight: 900;
    font-family:serif;
}
.ele:hover .elehd{
    color: #fff;
    background-color: #222;
    text-shadow: 2px 2px 9px #0f0;   
    padding: .5vw;
    box-shadow: 3vw;
}
.ele:hover .eleimg{
    display: none;
}
.ele:hover .eletxt{
    display: block;
    
    text-align: center;
    overflow: hidden;
}
@media  screen and (max-width: 1400px) {
    }


/*########      900 screen brake point            #################################*/
@media  screen and (max-width: 900px) {
.nav-bar{
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 4.5vw;
    widows: 100%;
    height: 5.3vw;
    margin: 1vw;
}
.nav-logo{
    float: left;
    background: url(/images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    }
.nav-logo::after{
    content: "Study Lover";
    margin-left: 5vw;
        font-size: 3vw;
}
.nav-menu{
    float: right;
    font-size: 2.5vw;
    margin: 1vw;
}



/*########      800 screen brake point            #################################*/
@media  screen and (max-width: 800px) {
    .nav-bar{
    display: block;
    text-align: center;
    vertical-align: middle;
    font-size: 4.5vw;
    widows: 100%;
    height: 5.4vw;
    margin: 1vw;
}
.nav-logo{
    float: left;
    background: url(/images/logosm.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 3vw;
    }
.nav-logo::after{
    content: " ";
}
.nav-menu{
    float: right;
    font-size: 2.5vw;
    margin: 1.5vw 1vw;
}
.nav-menu > li{
    margin: .5vw;
}
.mkrow{
    display:block;
        
}
.ele{
    display: block;
    width: auto;
    float: left;
    
}
    #cv, #cl, #sz{
        font-size: 15vw;
    }
    #cv::after, #cl::after, #sz::after{
        font-size: 15vw;
        margin: 8.5vw;
    }

.ele:hover .eleimg{
    
    display: block;
}
.eleimg{
    float:left;
    display: block;
    }
.elehd{
    font-size: 2vw;
    position: relative;
    top: .5vw;
    }
.eletxt{
    overflow: hidden;
    display: block;        
    font-size: 2.5vw;
    
    }
}